.custom-selectbox,
input.form-control,
select,
textarea.form-control {
  width: 100%;
  background: var(--whiteOld);
  border: 2px solid var(--whiteOld);
  border-radius: var(--radiusH);
  font-size: 1rem;
  color: var(--purpleDark);
  height: unset;
  padding: 1rem;
  outline: none;
  transition: var(--fast);
  text-transform: capitalize;
  &:focus {
    box-shadow: none;
    outline: none;
    // border-color: transparent;
    // border: 2px solid var(--green);
  }
}


// Disable input zoom
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  select,
  select:focus,
  textarea,
  textarea:focus,
  input,
  input:focus {
    font-size: 16px !important;
  }
}



.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  user-select: none;
  min-height: 30px;
  margin: 10px 0 20px;
  &:hover {
    input ~ .checkmark {
      background-color: #ccc;
    }
  }

  span,
  a {
    text-decoration: underline;
    margin-right: 5px;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      &:after {
        border: solid white;
        border-width: 0 2px 2px 0;
      }
      &:before {
        background: var(--purpleDark);
      }
    }
  }

  --d-o: 0.3s;
  --d-t: 0.6s;
  --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #eee;
    border: 2px solid #eee;
    border-radius: 10px;
    // transition: var(--fast);
    transition: all var(--d-t, 0.3s) var(--d-t-e, ease);

    &:before {
      content: "";
      position: absolute;
      left: 3px;
      top: 3px;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      border-radius: 50%;
      // background: #9996b4;
      transition: all var(--d-t, 0.3s) var(--d-t-e, ease);
    }

    &:after {
      content: "";
      position: absolute;
      display: block;
      left: 10px;
      top: 7px;
      width: 5px;
      height: 10px;
      // border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

form {
  input.error,
  textarea.error,
  select.error {
    background: var(--orange);
    border-color: var(--orange);
    & + .form-warning {
      display: flex;
      align-items: center;
      color: var(--orange);
      .svg-icon {
        background: var(--orange);
        margin-right: 4px;
      }
    }
    & + .checkmark {
      border: 2px solid var(--orange);
      background: var(--orange);
      &:before {
        // background: var(--red);
      }
    }
  }

  .form-warning {
    margin: 5px 0 0 5px;
    font-size: 0.8rem;
    display: none;
  }
  h2 {
    margin-bottom: 2rem;
  }
}