.icons-mentor{
  mask: url('/svg/mentor.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/mentor.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-rocket{
  mask: url('/svg/rocket.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/rocket.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-chess{
  mask: url('/svg/chess.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/chess.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-world{
  mask: url('/svg/world.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/world.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-fb{
  mask: url('/svg/fb.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/fb.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-tw{
  mask: url('/svg/tw.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/tw.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-ln{
  mask: url('/svg/in.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/in.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-ig{
  mask: url('/svg/ig.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/ig.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-logo{
  mask: url('/svg/logo.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/logo.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-check-circle{
  mask: url('/svg/check-cirle.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/check-cirle.svg') no-repeat !important;
      background-size: contain !important;
  }
}

.icons-arrow-down{
  mask: url('/svg/icons-arrow-chevron-down.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/icons-arrow-chevron-down.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-down{
  mask: url('/svg/down.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/down.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-alert{
  mask: url('/svg/icon-alert.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/icon-alert.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-close{
  mask: url('/svg/close.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/close.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-megafone{
  mask: url('/svg/megafone.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/megafone.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-calendar{
  mask: url('/svg/calendar.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/calendar.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-clock{
  mask: url('/svg/icons-clock.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/icons-clock.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-danger{
  mask: url('/svg/alert.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/alert.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-back{
  mask: url('/svg/back.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/back.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-next{
  mask: url('/svg/next.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/next.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-discord{
  mask: url('/svg/discord.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/discord.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-twitch{
  mask: url('/svg/twitch.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/twitch.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-tiktok{
  mask: url('/svg/tiktok.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/tiktok.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-hbr{
  mask: url('/svg/hbr.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/hbr.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-interaktif{
  mask: url('/svg/interaktif.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/interaktif.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-izlenme{
  mask: url('/svg/izlenme.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/izlenme.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-katilimci{
  mask: url('/svg/katilimci.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/katilimci.svg') no-repeat !important;
      background-size: contain !important;
  }
}

.svg-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: #fff;
  -webkit-mask-size: contain;
}