.icons-search{
  mask: url('/svg/search.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/search.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-information{
  mask: url('/svg/information.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/information.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-bagis-yap{
  mask: url('/svg/bagis-yap.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    background: url('/svg/bagis-yap.svg') no-repeat !important;
    background-size: contain !important;
  }
}
.icons-kampanya-olustur{
  mask: url('/svg/kampanya-olustur.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    background: url('/svg/kampanya-olustur.svg') no-repeat !important;
    background-size: contain !important;
  }
}
.icons-hediye-karti-gonder{
  mask: url('/svg/hediye-karti-gonder.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    background: url('/svg/hediye-karti-gonder.svg') no-repeat !important;
    background-size: contain !important;
  }
}
.icons-frame{
  mask: url('/svg/frame.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/frame.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-play{
  mask: url('/svg/play.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/play.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-arrow-down{
  mask: url('/svg/arrow-down.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/arrow-down.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-back-arrow{
  mask: url('/svg/back-arrow.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/back-arrow.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-twitter{
  mask: url('/svg/twitter.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/twitter.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-linkedin{
  mask: url('/svg/linkedin.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/linkedin.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-whatsapp{
  mask: url('/svg/whatsapp.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/whatsapp.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-facebook{
  mask: url('/svg/facebook.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/facebook.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-facebook-flat{
  mask: url('/svg/facebook-flat.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/facebook-flat.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-instagram{
  mask: url('/svg/instagram.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/instagram.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-google{
  mask: url('/svg/google.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/google.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-plus{
  mask: url('/svg/plus.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/plus.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-alert{
  mask: url('/svg/alert.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/alert.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-quotesLeft{
  mask: url('/svg/quotesLeft.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/quotesLeft.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-quotesRight{
  mask: url('/svg/quotesRight.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/quotesRight.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-eye{
  mask: url('/svg/eye.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/eye.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-calender{
  mask: url('/svg/calender.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/calender.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-check-yellow{
  mask: url('/svg/check-yellow.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/check-yellow.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-eye{
  mask: url('/svg/icon-eye.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/icon-eye.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icons-eye-closed{
  mask: url('/svg/icon-eye-c.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/icon-eye-c.svg') no-repeat !important;
      background-size: contain !important;
  }
}
.icon-video{
  mask: url('/svg/icon-video.svg') no-repeat;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: url('/svg/icon-video.svg') no-repeat !important;
      background-size: contain !important;
  }
}

.svg-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: #fff;
  -webkit-mask-size: contain;
}