@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
// Font Weights
$fontThin: 100;
$fontXLight: 200;
$fontLight: 300;
$fontRegular: 400 !important;
$fontSemibold: 600;
$fontBold: 700;
$fontExtraBold: 800;
$fontBlack: 900;

