:root{
  // Colors
  --black: #1b1b1b;
  --white: #ffffff;
  --whiteOld: #f5f5f5;
  --purple: #2c2760;

  --headerSize: 60px;
  
  --radiusH: 5px;
  --radiusF: 10px;

  // Transitions
  --fast: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  --slow: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
